version: '3.7'

services:

  web: # Flask and uWSGI
    container_name: web 
    build: ./app
    # ports: 80:80
    networks: 
      - internal
      - external
    # depends_on: 
    #  - db

  nginx:
    container_name: nginx
  image: nginx:latest
    #depends_on:
    #  - web
    restart: always
    # build: ./nginx
    ports: # Exposed to host and other services
      - "80:80"  # 8080:80 Map port 80 in the container to port 8080 on the Docker host.
    networks:
      - external


  # db:
  #   image: postgres:latest
  #   restart: always
  #   volumes:
  #    - "dbdata:/var/lib/postgresql/data"
  #   networks:
  #     - internal

networks:
  internal:
    driver: bridge
  external:
    driver: bridge

# volumes:
#  appdata: 
#  dbdata:

# ${COMPOSE_PROJECT_NAME}


      